<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        body {
            background-color: #f5f3e6;
            font-family: 'Arial', sans-serif;
        }

        header, footer {
            background-color: #d7c8a7;
        }

        h1, p {
            color: #5b4d38;
        }

        .btn-custom {
            background-color: #d7c8a7;
            color: #5b4d38;
            border: none;
        }

            .btn-custom:hover {
                background-color: #c1a17b;
                transform: scale(1.05);
            }

        footer p {
            font-size: 14px;
            color: #5b4d38;
        }

        .card {
            background-color: #f9f9f9;
        }


        .fade-in {
            animation: fadeIn 1.5s ease-out;
        }
    </style>



</head>
<body>
    <div class=" row justify-content-center align-items-center bg-info bg-opacity-25 p-5 m-5 bg-light p-5 rounded shadow-lg">
        @RenderBody()
    </div>
</body>
</html>
